/* 
    Document   : dnakey.css
    Created on : 2013-nov-22, 14:14:41
    Author     : Sofia Ivarsson, Ida Li
    Description: Baserad på NRMs grafiska profil och pollenrapporten -sitevision.
    Stylesheet for DNA-key portal, NRM
*/


.body{
    font-family: "Arial",sans-serif;
    position: relative; 
    min-height: 100%; 
    top: 0px;
}

/*back*/
.background{
    background-color:#ebede8;
    /*background-image:url(/images/18.67f7c5a013d827ecb4c32f/1367827613667/bg.gif);*/
    background-repeat:no-repeat;
    margin:0 0 0 0;
}

.back{
    border:none;
    width:100%;
    min-width:0;
    padding:0;
    margin:0;
    padding-top:7px;
    padding-bottom:0px;
    border-radius: 10px 10px 0 0;
    float:none !important
}

/*top*/
.roundedtop {
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;    
}

.top {
    background-color:#9bba3f; /*#86ad16;*/
    margin:0 auto;
    max-width:960px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.topmenu {
    background-color:#839127;  
/*    margin-left:-10px; */
    width:960px;
}


.topmenu a.current {
    background: none repeat scroll 0 0 #419b1a; /*#0C7D0C;*/
}

.topmenu a {
   width: auto;
   padding: 12px 10px;
   border-right: none;
   border-right: 1px solid #4b7533;
   color: #FFFFFF;
   display: block;
   font-family: "Arial",sans-serif;
   font-size: 14px;
   text-align: center;
   text-decoration: none;
   text-shadow: 1px 2px 1px #436b16; 
   /* filter: dropshadow(color=#2e5900, offx=1, offy=1);*/
}

 
.topmenu li {
   overflow: hidden;
   position: relative;
   float: left;
   display: block;
   width: auto;
}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.menubutton {
    color:#ffffff;
    margin-top:-4px;
    padding-bottom:5px;
    padding-left:10px;
}

.noborder {
    border-style: none;
}

.logoDNAkey {
    max-height: 50px;
    max-width: 370px;
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: 20px;
    max-width: 60%;
}

.logoNRM{
    margin: 20px;
    float: right;
    max-width: 20%;
}

 

/*main*/

#main {
    background-color:#ffffff;
    margin:0 auto;
    max-width:960px; 
    padding:30px 0px 30px 0; 
    float: left;
}

.mainimage {
    margin-bottom: -5px;   
} 

.mainimage img {
    width: 960px;
}

.columns{
    margin-left:20px;
    margin-right: 20px; 
    margin-top:20px; 
    font-size: 14px; 
}



.column1{
    width: 60%; 
    margin: auto; 
}

.column2 {
    width: 60%; 
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}
.column3{
    width: 30%; 
    float:right;   
    margin-right: 20px;
}

.maincolumn {
    width: 100%;
}

.lonecolumn{
    margin-left: 25%;
    
}

.resultcolumn { 
    margin-left:20px; 
    margin-right: 20px; 
    margin-top:20px; 
    font-size: 14px; 
}

.column5 {
    width: 15%; 
    float:left;
}
 
a {
    color: #000000;
    font-family: arial,helvetica,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.header {
    font-size: 20px;
    margin-top:10px;
    margin-bottom: 30px;
    color: #5e5e5e; 
    font-family: "Arial",sans-serif;
}

.subheader{
    font-weight: bold;
}
        
.text {
    font-family: "Arial",sans-serif;
    color: #424242; 
    font-size: 14px;
    margin-bottom: 10px;
}

.linktext {
    text-decoration: none; 
    color: #8B8786; 
}
 

.subheader2{
    font-style: italic;
}

.dnatext{
    font-size: 11px;
    color: lightsteelblue;
    width: 450px;
    word-wrap: break-word;
    font-family:monospace;
}

.imgtext{
    font-size: 12px;
}


.imageswithpedding {
    border: none;
    padding: 5px; 
}


.menyrad {
/* -- */
}


.img {  
    border: none;  
}
 
/*foot*/
#foot {
    position: absoulte;
    bottom: 0;
    height: 125px;
}

.footstyle{
    background-color:#686868;
    margin:0 auto;
    max-width:940px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    -webkit-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px; 
    float: left;
    width: 100%;
}

.textfoot{ 
    font-size: 10px;
    color:#ffffff;
    font-family: "Arial",sans-serif;   
}

.formasurl {
    float: right; 
    padding-top: 10px; 
    padding-right: 20px;
}


 


#map_canvas {
    width:460px;  
    overflow:hidden; 
    float: left
}

#map_canvas svg {
    margin-left: -200px;
    margin-right: 350px;   
    overflow: hidden;
} 

.tabpanel {
    border: 1px solid #A8A8A8; 
    float: left;
} 

.tabpading10 {
    padding: 10px 10px 10px 10px;
}


.tab3panel {
    float: left; 
    padding-top: 5px;
}


.ui-tabs-nav {
    font-size: 11px !important; 
} 
 
 
.ui-tabs .ui-tabs-panel {
    border: none !important;
    padding: 0px 0px 0px 0px; 
    font-size: 11px;
} 

.ui-widget-content { 
    border: none !important;
}

 
.uploadfilecol1 {
    width: 60%;
}

.uploadfilecol2 {
    width: 30%;
    float: right;
}



.ui-growl {
    right: 40%;
    top: 250px;
    font-size: 12px;
}

.progresscol1 {
    padding-left: 10px;
    width: 40px;
}

.progresscol2 {
    width: 200px;
}

 

.subtablecol {
    width: 70px;
}

.hide-column-names table thead tr {
    display: none !important; 
}

.padding30 {
    padding-left: 30px; 
    padding-right: 30px;
}

.paddingleft30 {
    padding-left: 30px;  
}




/* result */
.resultheader {
    float: left; 
    width: 100%; 
}




/* datatable*/
.ui-datatable * {
    border : 0px !important;   
    padding: 0px !important;  
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}



.ui-datatable table {
   table-layout: auto !important;
}



/*.ui-datatable table thead tr{
    display: none !important; 
} */

.ui-datatable table thead tr {
    display: none !important; 
} 






/* for safari */
/*\*/
.ui-datatable * {
    border : 0px !important;   
    padding: 0px !important;  
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}
/**/

 

/*\*/
.ui-datatable table thead tr {
    display: none !important; 
} 
/**/

/*\*/
.resulttbl {
    font-size: 12px;
}
/**/
/* for safari */






.resulttbl {
    font-size: 12px;
}


.blacktext {
    color: #000000;
    font-weight: bold;
    font-family:  monospace;
    font-size: 7px; 
    font-size: 10px !important;  
}

.graytext { 
    color:  #6E6E6E;
    font-family:  monospace;
    font-size: 7px; 
    font-size: 10px !important;  
}

.greentext {
    color: #33CC00;
}

.redtext {
    color: #D00000;
}

.colwidth20 {
    width: 20px; 
}


.alignmentPanel { 
    font-size: 10px; 
    width: 700px;
    height: 600px;
    border: none;
}

.resulttextfont1 {
    font-family:  courier;
    font-size: 7px; 
    font-size: 10px !important;  
}

.resulttableheader {
    width: 930px; 
    height: 20px; 
    float: left;   
    font-size: 12px; 
    background-color: #d9d9d9; 
    font-weight: bold; 
}

.rowexpansion {
    float: left; 
    font-size: 10px; 
    background-color: #DFE9B8; 
    width: 920px;  
}

.resulttabletip250 {
    font-size: 12px; 
    white-space: normal; 
    width: 250px; 
}

.resulttabletip150 {
    font-size: 12px; 
    white-space: normal; 
    width: 150px; 
}

.resulttabletip300 {
    font-size: 12px; 
    white-space: normal; 
    width: 300px; 
}

.resultbtns {
    float: right; 
    font-size: 10px;   
    padding-right: 20px; 
}

.csvbtn {
    text-decoration: none; 
    padding-right: 10px;
}

.resultseparator {
    float: left; 
    width: 100%; 
    padding-bottom: 10px;
}

.resultpanel {
    width: 100%; 
    float: left; 
    font-size: 11px;
}

.resultqryheader {
    width: 90%; 
    float: left; 
    font-size: 12px; 
    font-weight: bold; 
}

.resultqryheader1 { 
    padding-left: 30px; 
    float: left; 
    width: 50px;
}

.resultqryheader2 { 
    padding-left: 30px; 
    float: left; 
    width: 5px;
}

.resultqryheader3 { 
    padding-left: 30px; 
    float: left; 
    width: 400px;
}

.highmatch {
    float: left; 
    width: 90%; 
    padding-left: 30px; 
    font-size: 14px;
}

.resultspacer {
    float: left; 
    width: 90%;
    padding-left: 30px;
}

.gmapinfowindow {
    text-align:center; 
    display:block; 
    margin:auto; 
    height: 80px;
}

.ui-button-text {
    background-color: #86AD16;
}
.ui-button-text-only .ui-button-text {
    font-size: 9pt; 
    color: black;
}

.originalbutton .ui-button-text {
    background: #D2CFCF;
}



.ui-radiobutton .ui-radiobutton-box { 
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
 
.ui-icon-bullet {
    background-position: -83px -146px !important;
}

.sublabel {
    font-size: 13px;
    font-weight: bold;
}

.inprocess {
    font-size: 16px; 
    font-weight: bold;
}

 


#wrap { 
   height:310px;
   width:480px; 
}

.sequence {
    height:300px;
    width: 530px;
    margin:0; 
    padding:0;
    vertical-align: top;
    overflow: scroll; 
    white-space: pre-wrap;
    word-wrap: break-word; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
} 


.tablestyle1 {
    width: 90px; 
    float: left;
}

.tablestyle2 {
    width: 60px; 
    float: left;
    text-align: center;
}

.tablestyle3 {
    width: 40px; 
    float: right; 
    padding-right: 10px;
    text-align: center;
}

.font10 {
    font-size: 10px;
}

.contact1 {
    width: 120px; 
    float: left;
    font-weight: bold;
}

.contact2 {
    width: 220px; 
    float: left;
}

.tooltip {
    font-size: 12px; 
    white-space: normal; 
    width: 250px; 
}